section{
    padding-top: 2%;
    padding-bottom: 2%;
}
.card{
    margin-top: 2%;
    margin-bottom: 2%;
}
.aligin-center{text-align: center;}
img{
    margin-top: 2%;
    margin-bottom: 2%;
}
body{
    background-image: url(https://images.unsplash.com/photo-1551797802-f2dd1ec0033e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
}